<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include('./partials/responseHandler.ejs') %>
    <div id="main" class="min-h-screen w-full bg-neutral-700 text-white p-10">
        <!-- multer form -->
        <h1 class="text-3xl my-5 capitalize">upload file</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" />
            <button type="submit" class="uppercase px-10 py-2 bg-blue-500 rounded-md">upload</button>
        </form>
    </div>

</body>

</html>